@import "~@fontsource/raleway/index.css";

.content {
  margin-top: 50px;
  background: #ffffff;
  width: 100%;

  .title {
    font-size: 1.875rem;
    font-family: "Raleway", sans-serif;
    text-align: start;
  }

  .description {
    font-size: 1rem;
    text-align: start;
  }

  .link{
    display: flex;
    justify-content: space-between;
  }
}