.navbar {
  background-color: #d9ecfd;
  padding: 1rem 24px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid darkgray;
  position: fixed;
  z-index: 1;
  width: 100%;

  .menu {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
  }
}

