.navbar {
  background-color: #d9ecfd;
  padding: 1rem 24px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid darkgray;

  .menu {
    border: none;
  }

  .logo {
    height: 32px;
    margin-left: 1rem;
  }
}

